.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(to bottom, #87CEEB 0%, #E0F6FF 100%);
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, #8B7355 0%, #A0826D 100%);
  border-top: 2px solid #6B5D4F;
}

